## ASSIGNMENT

In [2]:
# Que1 : To sort the given list of tuples based on integer value using a lambda function .

lst = [('Sachin Tendulkar', 34357), ('Ricky Pointing', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [9]:
lst.sort(key = lambda x : x[1])
print(lst)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Pointing', 27483), ('Sachin Tendulkar', 34357)]

In [22]:
# Que 2: To find square of all the numbers given in the list using lambda and map functions.

a = [1,2,3,4,5,6,7,8,9,10]

In [24]:
list(map(lambda x : x**2, a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# Que 3: Convert the list of integers into tuple of strings using map and lambda functions.

lst = [1,2,3,4,5,6,7,8,9,10]

In [30]:
tuple(map(lambda x : str(x), lst))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [37]:
# Que 4 :  Compute the product of a list containing numbers from 1 to 25 using reduce function.

lst2=list(range(1,26)) # list containing numbers from 1 to 25

In [38]:
def product(x,y):
    return x * y

In [40]:
from functools import reduce

In [41]:
reduce(product, lst2)

15511210043330985984000000

In [7]:
# Que 5 : Filter the numbers in the given list that are divisible by 2 and 3 using filter function

lst3 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [96]:
list(filter(lambda x :  x%2==0 and x%3==0, lst3))

[6, 60, 90, 120]

In [14]:
# Que 6 :  Find palindromes in the given list of strings using lambda and filter function.

my_list = ['python', 'php', 'aba', 'radar', 'level']

In [16]:
list(filter(lambda x : x == (''.join(reversed(x))), my_list))

['php', 'aba', 'radar', 'level']

In [53]:
# We can do question 6 like this too..

list(filter(lambda x : x[0]==x[-1] and x[1] == x[-2] and x[2]==x[-3], my_list))

['php', 'aba', 'radar', 'level']