## Assignment - MongoDB + Python

#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

ANS:  MongoDB is a popular open-source, document-oriented NoSQL (non-relational) database. It differs from traditional SQL databases in its data model and storage approach. MongoDB, specifically, stores data in flexible, JSON-like documents.

NoSQL : NoSQL databases, are designed to handle large volumes of unstructured and semi-structured data, offers more flexibility by allowing data to be stored in various formats like key-value pairs, documents, graphs, or wide-column stores.

MongoDB over SQL : It is better to use MongoDB over SQL when you have to handle large amounts of data by distributing it across multiple servers, fast reading and writing operations. It provides high-performance data retrieval through its support for indexing, sharding, and in-memory caching. Its better to use MongoDB when you don't have to deal with highly structured data, complex relationships.

#### Q2. State and Explain the features of MongoDB

Ans:  Some notable features of MongoDB:

1. Stores data in flexible, JSON-like documents, allowing for dynamic and nested data structures.
2. Scales horizontally by distributing data across multiple servers, enabling efficient handling of large volumes of data.
3. MongoDB provides indexing on fields for fast querying and supports a powerful query language for complex data retrieval.
4. MongoDB's architecture is optimized for fast read and write operations. It provides high-performance data retrieval through its support for indexing, sharding, and in-memory caching.
5. JSON and BSON support: MongoDB works seamlessly with JSON data and uses BSON for efficient storage and data retrieval.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (603 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 603.6/603.6 kB 37.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.1-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.3/300.3 kB 33.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.1 pymongo-4.4.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb+srv://mansisingh:mansi123@cluster0.61zpgvj.mongodb.net/?retryWrites=true&w=majority") # To connect

In [4]:
database = client["mydatabase"] # To create a database

In [5]:
collection = database["mycollection"] # Creating a collection named mycollection inside database

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
# Ans:  To insert single record
record = {"Name": "Mansi", "Course": "Data Science Masters", "Timings": "Flexi"}

In [7]:
collection.insert_one(record)

In [12]:
# To insert multiple records:

record1 = [{"Name": "Mansi", "Course": "Data Science Masters", "Timings": "Flexi"}, 
           {"Name": "Khushi", "Course": "Python ", "Timings": "Flexi", "age": 20},
           {"Name": "Neha", "Course": "MySQL", "Timings": "Flexi", "phone number": 268478728, "age": 30}]

In [13]:
collection.insert_many(record1)

In [14]:
# This will print all the records that are inside my database

for i in collection.find():
    print(i)

{'_id': ObjectId('64d38e85c8568a57a9cd51fd'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}
{'_id': ObjectId('64d38faec8568a57a9cd51fe'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}
{'_id': ObjectId('64d38faec8568a57a9cd51ff'), 'Name': 'Khushi', 'Course': 'Python ', 'Timings': 'Flexi'}
{'_id': ObjectId('64d38faec8568a57a9cd5200'), 'Name': 'Neha', 'Course': 'MySQL', 'Timings': 'Flexi', 'phone number': 268478728}
{'_id': ObjectId('64d394adc8568a57a9cd5201'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}
{'_id': ObjectId('64d394adc8568a57a9cd5202'), 'Name': 'Khushi', 'Course': 'Python ', 'Timings': 'Flexi', 'age': 20}
{'_id': ObjectId('64d394adc8568a57a9cd5203'), 'Name': 'Neha', 'Course': 'MySQL', 'Timings': 'Flexi', 'phone number': 268478728, 'age': 30}

In [15]:
# This will print the very first one record inside my database only.

collection.find_one()

{'_id': ObjectId('64d38e85c8568a57a9cd51fd'),
 'Name': 'Mansi',
 'Course': 'Data Science Masters',
 'Timings': 'Flexi'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Ans : find() method is used to query a collection for documents that match specific criteria. This method returns a cursor, which is an iterable object that allow us to iterate through the matched documents.

In [20]:
# This will give the record that has age greater than or equals to 21 inside my databse.

for i in collection.find({"age": {"$gte": 21}}):
    print(i)

{'_id': ObjectId('64d394adc8568a57a9cd5203'), 'Name': 'Neha', 'Course': 'MySQL', 'Timings': 'Flexi', 'phone number': 268478728, 'age': 30}

In [19]:
# Or we can use find function like this, it will give the record which contains name "Mansi" in it.

for i in collection.find({"Name": "Mansi"}):
    print(i)

{'_id': ObjectId('64d38e85c8568a57a9cd51fd'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}
{'_id': ObjectId('64d38faec8568a57a9cd51fe'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}
{'_id': ObjectId('64d394adc8568a57a9cd5201'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans : sort() method is used to sort the results of a query. This methods allows you to arrange the documents retrieved from a collection in a specified sequence, such as ascending or descending order.

In [21]:
query = {} # Empty query to retrieve all documents

In [24]:
sort_order = [("age",1)] # Sort by age in ascending order

In [25]:
cursor = collection.find(query).sort(sort_order)

In [26]:
for i in cursor:
    print(i)

{'_id': ObjectId('64d38e85c8568a57a9cd51fd'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}
{'_id': ObjectId('64d38faec8568a57a9cd51fe'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}
{'_id': ObjectId('64d38faec8568a57a9cd51ff'), 'Name': 'Khushi', 'Course': 'Python ', 'Timings': 'Flexi'}
{'_id': ObjectId('64d38faec8568a57a9cd5200'), 'Name': 'Neha', 'Course': 'MySQL', 'Timings': 'Flexi', 'phone number': 268478728}
{'_id': ObjectId('64d394adc8568a57a9cd5201'), 'Name': 'Mansi', 'Course': 'Data Science Masters', 'Timings': 'Flexi'}
{'_id': ObjectId('64d394adc8568a57a9cd5202'), 'Name': 'Khushi', 'Course': 'Python ', 'Timings': 'Flexi', 'age': 20}
{'_id': ObjectId('64d394adc8568a57a9cd5203'), 'Name': 'Neha', 'Course': 'MySQL', 'Timings': 'Flexi', 'phone number': 268478728, 'age': 30}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans. 
1. delete_one() : This method is used to delete a single document from a collection that matches a specified filter.
2. delete_many() : This method is used to multiple documents from a collection that matches a specified filter.
3. drop() : This method is used to completely remove a collection from the database. This is irreversible operation and deletes both the collection;s documents and its schema.